h1 h2 {
  font-family: Helvetica, sans serif;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 16pt;
}

body {
  font-family: 'Garamond MT Std', Garamond, serif;
  font-size: 14pt;
  background-color: rgba(100, 100, 100, 0.05);
  margin: 0px;
  
}

.content {
  max-width: 800px;
  padding-left: 5px;
  padding-right: 5px;
}

.small {
  font-size: 10pt;
}

.bordered {
  border: 1px solid black;
}

.bordered  th {
  background-color: #cccccc;
}

figcaption {
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
}

.highlight {
  font-size: 10pt;
  border: 1px solid black;
  padding: 5px;
}


#nav {
  padding: 5px;
  border-bottom: 1px solid black;
  box-shadow: inset 0 -20px 30px rgba(200, 200, 200, 0.5);
  margin: 0px;
  font-family: Helvetica, sans serif;
  font-size: 18px;
}

#nav > div {
  display: inline;
  margin: 5px;
}

#toc .section {
  font-size: 22px;
  padding: 10px;
}

#toc .title {
  font-size: 28px;
}

#toc .items > div {
  margin-left: 10px;
  margin-top: 5px;
}

.bg-foundation {
  background-color: rgba(0, 185, 69, 0.05);
}

.tool > h1 {
  background-color: rgba(255, 133, 0, 0.05);
}

.tool > h2 {
  background-color: rgba(255, 133, 0, 0.05);
}

.app > h1 {
  background-color: rgba(217, 00, 91, 0.05);
}

.app > h2 {
  background-color: rgba(217, 00, 91, 0.05);
}

.foundation > h1 {
  color: #00b945;
}

.foundation > h2 {
  color: #00b945;
}


.title {
  font-size: 26px;
  font-family: Helvetica, sans serif;
  font-weight: bold;
}
